@model IEnumerable<MvcUrunSitesi.Entities.Category>

@{
    ViewBag.Title = "Index";
   
}

<h2>Kategori Listesi</h2>

<p>
    @Html.ActionLink("Yeni Ekle", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UstKategoriId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KategoriAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KategoriAciklamasi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UstKategoriId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KategoriAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KategoriAciklamasi)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
