@model MvcUrunSitesi.Entities.Product

@{
    ViewBag.Title = "Urun Detay";
}
<div class="container">
    <div class="row">

        <div class="col-xs-12 col-sm-6">
            <img src="~/Img/Product/@Model.UrunResmi" class="img-responsive" />
        </div>

        <div class="col-xs-12 col-sm-6">
            <h1>@Model.UrunAdi</h1>
            <p>
                @Model.UrunFiyati TL
            </p>
            <p>
                @Model.UrunAciklamasi
            </p>
            @using (Html.BeginForm("SepeteEkle","Home"))
            {
                @Html.HiddenFor(i => i.Id)
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-primary">
                    Sepete Ekle
                </button>
            }

        </div>
        @*@ViewBag.Message Urun Detay Sayfası*@
    </div>
</div>