<!DOCTYPE html>
<html>
<head>
    @{  if (Session["yonetici"] == null) { Response.Redirect("/Admin/Main/Login"); }}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Admin</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Giriş", "Index", "Main", new { area = "Admin" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a id="dLabel" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Kategori Yönetimi
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dLabel">
                            <li>@Html.ActionLink("Kategori Listesi", "Index", "Categories", new { area = "Admin" }, new { @class = "" })</li>
                            <li>@Html.ActionLink("Kategori Ekle", "Create", "Categories", new { area = "Admin" }, new { @class = "" })</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a id="dLabel" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Ürün Yönetimi
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dLabel">
                            <li>@Html.ActionLink("Ürün Listesi", "Index", "Product", new { area = "Admin" }, new { @class = "" })</li>
                            <li>@Html.ActionLink("Ürün Ekle", "Create", "Product", new { area = "Admin" }, new { @class = "" })</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a id="dLabel" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Slider Yönetimi
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dLabel">
                            <li>@Html.ActionLink("Slide Listesi", "Index", "Slider", new { area = "Admin" }, new { @class = "" })</li>
                            <li>@Html.ActionLink("Slide Ekle", "Create", "Slider", new { area = "Admin" }, new { @class = "" })</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a id="dLabel" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Admin Yönetimi
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dLabel">
                            <li>@Html.ActionLink("Admin Listesi", "Index", "Yonetici", new { area = "Admin" }, new { @class = "" })</li>
                            <li>@Html.ActionLink("Admin Ekle", "Create", "Yonetici", new { area = "Admin" }, new { @class = "" })</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>